<section class='field'>
  <div class="enable-lockdown">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_lockdown}}
      {{i18n 'solved.allow_lockdown'}}
    </label>
  </div>
</section>
